#deuxtiers {
	width: 40%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#tiers {
	width: 40%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}
.row_simple_present {
    width: 100%;
	margin-top: 0px;
	display: flex;
	flex-direction:row;
	justify-content: center;
    margin-bottom: 20px;
}
.explication_text_present {
    color: lightgrey;
    font-family: Poppins; 
    font-size: 16px;
    margin: 0;
    text-align: justify;
    margin-right: 5%;
}
.present_big_present { /*titre présentation*/
	font-family: Oswald;
	font-size: 80px;
	color: darkgrey;
	font-weight: 700;
	margin: 0;
	margin-right: 5%;
}
.bouton_envoyer {
    color: lightgrey;
    font-family: Poppins; 
    font-size: 16px;
	background-color: #DE6110;
	border: 0;
	padding: 10px 20px;
}
.message_textarea {
	width: 500px;
	height: 200px;
	resize: none;
}
.mail_textarea {
		width: 500px;
}
