.photomontage_total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photomontage_image {
	opacity: 0.9;
	margin-top: 20px; 
	margin-bottom: 20px;
	display: flex;
    justify-content: center;

}
.lien_photomontage {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date_photomontage {
	font-family: Poppins;
	font-size: 25px;
	font-weight: 500;
	color: lightgrey;
	text-decoration: none;
	position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    align-self: flex-end;
}

.lien_projet {
    font-family: Poppins;
	font-size: 25px;
	font-weight: 500;
	color: lightgrey;
	text-decoration: none;
	position: absolute;
    background-color: #DE6110;
    align-self: flex-start;
    margin-top: 30px;
    border-radius: 50px;
}