#deuxtiers {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tiers {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.row_simple_present {
    width: 95%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5%;
}

.explication_text_present {
    color: lightgrey;
    font-family: Poppins;
    font-size: 16px;
    margin: 0;
    text-align: justify;
    margin-left: 5%;
}

.present_big_present {
    /*titre présentation*/
    font-family: Oswald;
    font-size: 60px;
    color: darkgrey;
    font-weight: 700;
    margin: 0;
    margin-left: 7.5%;
    text-decoration: underline;
}

.present_middle_present {
    /*titre présentation*/
    font-family: Oswald;
    font-size: 40px;
    color: darkgrey;
    font-weight: 700;
    margin: 0;
    margin-left: 5%;
}

.btn_download {
    padding: 13px;
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    font-family: Poppins;
    margin: 0;
    margin-left: 40px;
    font-weight: 700;
    transition: 0.3s;
}

.btn_download:hover {
    padding: 10px;
    background-color: #DE6110;
    color: lightgrey;
    margin: 3px;
    margin-left: 43px;
}

.logo_comp {
    margin: 10px;
}