@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*----------------------------------------------------GÉNÉRAL--------------------------------------------------------------------*/

body {
	margin: 0 auto;
}
.fin_de_page { /*CASE*/
	width: 100%; /*largeur en pourcentage de la fenêtre du navigateur*/
    height: 400px;
    background-color: darkgrey;
} 
/*-------------------------------------------------------MENU--------------------------------------------------------------------*/
.menu { /*CASE*/
    width: 100%; /*largeur en pourcentage de la fenêtre du navigateur*/
    height: 70px;
}
.menu ul {
	padding:0; /*décalage vers la droite*/
	margin:0; /*décalage vers le bas*/
	list-style-type:none;
	position: absolute;
	top: 20px; 
	left: 140px;
 }
.menu li {
	margin-left:5px;
	float:left; /*pour IE*/
 }
.menu ul li a {
	display:block;
	float:left;   
	width:200px;
	color: darkgrey; /*#DCDCDC;*/
 	text-decoration:none;
 	text-align:center;
 	font-family: Roboto;
 	font-weight: bold;
 	font-size: 25px;
 }
.menu ul li a:hover {
 	background:black url(pixel blanc.png) repeat-x;
 	color:lightgrey;
 }  
 #page_actuelle {
 	 color:lightblue;
 }
/*----------------------------------------------------ACCUEIL--------------------------------------------------------------------*/
.bande_accueil /*CASE*/
 {
	height: 520px;
	top: 70px; 
 }
.prénom {
	font-family: Montserrat;
 	font-weight: 800;
 	font-size: 125px; 
 	color:white;
	margin-left: 50px;
	margin-bottom: 0px;

}
.nom{	
	font-family: Roboto;
 	font-weight: 500;
 	font-size: 34px; 
 	color:white; 
	margin-left: 50px;
	margin-top: 0px;

 }
.fond_nom {
	top: 70px;
	position: absolute;
	z-index: -1;

 }

 /*----------------------------------------------------CARROUSSEL--------------------------------------------------------------------*/

/* external css: flickity.css */

* { box-sizing: border-box; }


.carousel {
  position: relative;
  overflow-x: hidden;
  height: 500px;
  justify-content: center;
}


.carousel-cell {
  height: 400px;
  width: 50%;
  margin: 40px /*5%*/; /* total width = 50% + 5% + 5% = 60% */
  opacity: 1;
  border-radius: 5px; /*arrondi des angles*/
  counter-increment: carousel-cell;
}


/*-------------------------------------------------------IMAGE------------------------------------------------------------------*/
.image {
	width:32.5%;
	z-index: 1;
	position:static;
}
.image:hover {
	filter: brightness(25%);
}
/*----------------------------------------------------PHOTOMONTAGE--------------------------------------------------------------*/
.photomontage {
	padding-left:1.5%;
}
/*----------------------------------------------------PHOTOGRAPHIE--------------------------------------------------------------*/
.photographie {
	padding-left:1.5%;
}
/*-------------------------------------------------------VIDÉO-------------------------------------------------------------------*/
.cadre_vidéo { /*CASE*/
	width: 100%; /*largeur en pourcentage de la fenêtre du navigateur*/
	background-color: white;
	height: 700px;
}
.vidéo {
		padding-left:12.25%;
		padding-top:20px;
		width:75%;
		height: 75%;
}
/*------------------------------------------------------RENDU 3D-----------------------------------------------------------------*/
.rendu_3D {
	padding-left:1.5%;
}
/*----------------------------------------------------CONTACT--------------------------------------------------------------------*/
#tel {
 	position: absolute;
	top: 10px; 
	left: 80px;
	z-index: 3;
}
#tel0 {
 	position: absolute;
	top: 35px; 
	left: 20px;
}
#mail {
 	position: absolute;
	top: 70px; 
	left: 80px;
	z-index: 3;	
}
#mail0 {
 	position: absolute;
	top: 95px; 
	left: 20px;
}
#insta {
 	position: absolute;
	top: 130px; 
	left: 80px;
}
#insta0 {
 	position: absolute;
	top: 155px; 
	left: 20px;
}
#intro_contact {
	   padding-left: 70px; 
	   padding-top: 10px;
}
.contact { /*CASE*/
	width: 100%; /*largeur en pourcentage de la fenêtre du navigateur*/
	background-color: white;
	height: 500px;
}
.contact_moyens {
	/*padding-left:500px;*/
	position: absolute;
	top: 130px; 
	left: 100px;
	width: 50%; /*largeur en pourcentage de la fenêtre du navigateur*/
    height: 240px;
    background-color: transparent;
       	z-index: 1;
}

/*------------------------------------------------------ RÉSEAUX SOCIAUX -----------------------------------------------*/
.social_menu {
	padding-top: 20px;
	position: relative;
	width: 100%;
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 20px;
}
.social_menu ul {
    display: flex;
    align-self: center;
}
.social_menu ul li {
    list-style: none; /*enlève les puces*/
    margin: 0 10px; /*séparation horizontale entre les boutons*/
}
.social_menu ul li .fa {
    color: #000000; /*couleur des icônes*/
    font-size: 25px; /*taille des icônes*/
    line-height: 50px;
    transition: .5s;
}
.social_menu ul li .fa:hover {
    color: #ffffff; /*couleur des icônes lorsqu'elles sont survolées*/
}
.social_menu ul li a {
    position: relative;
    display: block;
    width: 50px; /*largeur des rectangles*/
    height: 50px; /*hauteur des rectangles*/
    border-radius: 50% ; /*rondeur des angles*/
    background-color: white; /*couleur des rectangles*/
    text-align: center;
    transition: 0.5s; /*temps de la transition/animation*/
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5); /*ombre des cercles*/
}
.social_menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px); /*animation quand les rectangles sont survolés*/
}
.social_menu ul li:nth-child(1) a:hover { /*couleur transition LinkedIn*/
    background-color: #0e76a8;
}
.social_menu ul li:nth-child(2) a:hover { /*couleur transition Instagram*/
    background-color: #e4405f;
}
.social_menu ul li:nth-child(3) a:hover { /*couleur transition Youtube*/
    background-color: #cd201f;
}
/*------------------------------------------------------ FOOTER -----------------------------------------------*/

.by {
	background-color: black;
	height: 20px;
	padding-top: 0px;
	padding-bottom: 40px;
}
.by_text {
	margin-top: 10px;
	font-family: Roboto;
	font-weight: bold;
	text-align: center;
	color: white;
}